	
body{background-image: url(../images/dofns.jpg);}


	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC0404;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #D81C1C;
	}


	h1{
		font-size: 100px;
		font-weight: bold;
		font-family: diploma;
		text-align: center;
		color:#9F0D00 }
	h2{
		font-size: 20px;
		color: #FFF; 
		font-weight: normal;
		font-family: Trajan Pro;}

	.title{
		display: center;
		margin:0% 0% 0% 0%;}

	.container{
		width: 1300px;
		margin:0% 0% 40% 0%;
		margin-top: 20px;
		display: ;
		color: #9F0D00;
		}

	.caja{
		width: 1300px;
		margin:0% 0% 40% 0%;
		margin-top: 20px;
		display: auto;
		color: #FFF;}
	label{color: white;}	

	
.derechos{ text-align: center;
 			color:white;
 			}
@media screen and (min-width: 475px) and (max-width: 815px){

body{background-size: 120%;}
	h1{
		font-size: 50px;}
textarea{width:95%;
	    }
	
}