<!DOCTYPE html>
<html lang="es">
<head>
 	
 	<title>Tabla de Precios Casillero del Diablo</title>
 	
 	<link rel="stylesheet" type="text/css" href="G:\Project New\public\css/tabla.css">
 	
 	<h1 class="title">Precios Vinos Casillero del Diablo</h1>
 	
 	<h2 class="container"> La mejor reserva de vino chileno </h2>

 	<img src="http://www.casillerodeldiablo.com/2015/img/social/2_es.png" width= "30%";>

</head>
<body>
	<body style="background-attachment: fixed;background-color:#000; background-image: url(images/dofns.jpg);">
    <div id="container"> 
  	<h2 class="container">TABLA DE PRECIOS</h2>
  		<table>
  		<h3 class="">
  		<thead>
  			<th>Item</th>
  			<th>Codigo</th>
  			<th>Producto</th>
  			<th>Precio</th>
  		</thead>
  		<tbody>
  			<tr>
  			  <td>1</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 1</td>
  			  <td>$60.000</td>
  			</tr>
  			<tr>
  			  <td>2</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 2</td>
  			  <td>$90.000</td>
  			</tr>
  			<tr>
  			  <td>3</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 3</td>
  			  <td>$50.000</td>
  			</tr>
  			<tr>
  			  <td>4</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 4</td>
  			  <td>$120.000</td>
  			</tr>
  			<tr>
  			  <td>5</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 5</td>
  			  <td>$120.000</td>
  			</tr>
  			<tr>
  			  <td>6</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 6</td>
  			  <td>$70.000</td>
  			</tr>
  			<tr>
  			  <td>7</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 7</td>
  			  <td>$90.000</td>
  			</tr>
  			<tr>
  			  <td>8</td>
  			  <td>VINO CASILLERO DEL DIABLO</td>
  			  <td>Vino Casillero 8</td>
  			  <td>$110.000</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</body>
</html>