<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"content="width=device-width, inicial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://localhost/ProjectNew\public\css/mision.css">
	<title>Vision Casillero del Diablo</title>
 	

</head>
 <body>
		<ul>
		  <li><a class="active" href="http://localhost/ProjectNew/index.html">Inicio</a></li>
		  <li><a href="http://localhost/ProjectNew\views\front\paginas/Mision.html">Mision</a></li>
		  <li><a href="http://localhost/ProjectNew\views\front\paginas/Vision.html">Vision</a></li>
		  <li><a href="http://localhost/ProjectNew\views\front\paginas/contacto.html">Contacto</a></li>
		</ul>

		<h1 class="title">Vision Vinos Casillero del Diablo</h1>
	 	<h2 class="container"> La mejor reserva de vino chileno </h2>
		<img src="http://localhost/ProjectNew\public\images/vino.png" width= "70%";>
		
	<div class="caja">

		<h2><p>
		Viña Concha y Toro aspira ser una marca global que lidere la industria vitivinícola mundial.
		</p></h2>

		<h3><p>
		Fundada en 1883, Viña Concha y Toro se ha convertido en el principal productor de vinos de Latinoamérica con una destacada posición entre las compañías de vino más importantes del mundo y una presencia en 147 países. La compañía posee alrededor de 10.800 hectáreas de viñedos en Chile, Argentina y Estados Unidos. Su portfolio de vinos incluye los íconos Don Melchor y Almaviva y su marca emblemática Casillero del Diablo, además los vinos Trivento de Argentina y Fetzer de California. La Compañía tiene 3.450 empleados y sus oficinas principales se encuentran en Santiago, Chile.
		</p></h3>
	 </div>
	 <footer>
	<div class="derechos">
	<p>
		&copy; Todos los derechos reservados <?php echo date("y"); ?> - Powered Produccion Multimedia 
	</p>
	</div>
</footer>
 </body>
</html>